.dragonruby
docs
logs
samples
tmp
CHANGELOG.txt
console_history.txt
console-logo.png
ctags-emacs
ctags-vim
dragonruby-controller.png
dragonruby-httpd.exe
dragonruby-publish.exe
dragonruby.exe
dragonruby.png
font.ttf
open-source-licenses.txt
VERSION.txt